<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content")

    <link href="~/Content/bootstrap-theme.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cms-navigation-base.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/cms-navigation.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/crellyslider.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css" type="text/css" rel="stylesheet" />
    <link href="~/Content/css(1)" type="text/css" rel="stylesheet" />
    <link href="~/Content/css(2)" type="text/css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/frontend.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/magnific_popup.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/navigation.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/responsive.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/shortcodes.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/shortcodes_responsive.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" type="text/css" rel="stylesheet" />

</head>
<body>
    @*@RenderPage("_Header.cshtml");*@
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Introduces", "Index", "IntroducesAdmin")</li>
                    <li>@Html.ActionLink("News", "Index", "newsAdmin")</li>
                    <li>@Html.ActionLink("Partner", "Index", "partnerAdmin")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                </ul>
                <div style="float:right;margin-top:15px;text-decoration:none;color:white;font-weight:bold;">@Html.ActionLink("Log Out", "Logout", "Login")</div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts")
    @RenderSection("Scripts", required: false)
</body>
</html>
