@model IEnumerable<WebApplication1.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th style="width: 80px;">
            @Html.DisplayNameFor(model => model.idList)
        </th>
        <th style="width: 120px;">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th style="width: 450px;">
            @Html.DisplayNameFor(model => model.doc)
        </th>
        <th style="width: 250px;">
            @Html.DisplayNameFor(model => model.img)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.doc)
        </td>
        <td>
            @{ String img = "/Images/" + item.img; }
            <div> <img src=@img  alt="" style=" width:180px; height:90px;"/> </div>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
